<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Yu-Gi-Oh! Forbidden Memories fusion list" />
    <meta name="keywords" content="Yu-Gi-Oh!, YuGiOh, Forbidden Memories, playstation, Fusion" />
    <meta name="robots" content="index, follow" />
    <title><%= pageTitle %></title>
    <link rel="icon" type="image/x-icon" href="/public/images/yugioh.ico" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <% (pageStyles || []).forEach(function (href) { %>
    <link rel="stylesheet" href="<%= href %>" />
    <% }) %>
    <link rel="stylesheet" href="/public/dist/styles.css" />
</head>
